//color
$text__color--light: #fff;
$text__color--normal: #3d1101;
$bg__color: #efe9e7;
$bg__color--light: #fafafab2;
$bg__color--dark: #3d1101;
$bg__color--primary: #f56c23;
//text
$text__size--xx-l: 24px;
$text__size--x-l: 20px;
$text__size--l: 18px;
$text__size--m: 16px;
$text__size--s: 14px;
