@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*reset start*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*不用算盒元素*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*自適應圖片*/
img {
  max-width: 100%;
  height: auto;
}

/*基本字型*/
body {
  font-family: Microsoft JhengHei, "微軟正黑體", Helvetica, Arial, Heiti TC, "メイリオ", sans-serif;
}

/*reset end*/
/*header*/
/*text*/
/*hamburger*/
/*hamburger menu*/
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type=color] {
  padding: 0.2em 0.5em;
}

.pure-form input[type=text]:focus,
.pure-form input[type=password]:focus,
.pure-form input[type=email]:focus,
.pure-form input[type=url]:focus,
.pure-form input[type=date]:focus,
.pure-form input[type=month]:focus,
.pure-form input[type=time]:focus,
.pure-form input[type=datetime]:focus,
.pure-form input[type=datetime-local]:focus,
.pure-form input[type=week]:focus,
.pure-form input[type=number]:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=tel]:focus,
.pure-form input[type=color]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=file]:focus,
.pure-form input[type=radio]:focus,
.pure-form input[type=checkbox]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input[type=text][disabled],
.pure-form input[type=password][disabled],
.pure-form input[type=email][disabled],
.pure-form input[type=url][disabled],
.pure-form input[type=date][disabled],
.pure-form input[type=month][disabled],
.pure-form input[type=time][disabled],
.pure-form input[type=datetime][disabled],
.pure-form input[type=datetime-local][disabled],
.pure-form input[type=week][disabled],
.pure-form input[type=number][disabled],
.pure-form input[type=search][disabled],
.pure-form input[type=tel][disabled],
.pure-form input[type=color][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=file]:focus:invalid:focus,
.pure-form input[type=radio]:focus:invalid:focus,
.pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=week],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=color],
.pure-form-stacked input[type=file],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  display: inline;
  zoom: 1;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: 0.35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0.7em 0 0;
  }
  .pure-form input:not([type]),
  .pure-form input[type=text],
  .pure-form input[type=password],
  .pure-form input[type=email],
  .pure-form input[type=url],
  .pure-form input[type=date],
  .pure-form input[type=month],
  .pure-form input[type=time],
  .pure-form input[type=datetime],
  .pure-form input[type=datetime-local],
  .pure-form input[type=week],
  .pure-form input[type=number],
  .pure-form input[type=search],
  .pure-form input[type=tel],
  .pure-form input[type=color],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .pure-group input:not([type]),
  .pure-group input[type=text],
  .pure-group input[type=password],
  .pure-group input[type=email],
  .pure-group input[type=url],
  .pure-group input[type=date],
  .pure-group input[type=month],
  .pure-group input[type=time],
  .pure-group input[type=datetime],
  .pure-group input[type=datetime-local],
  .pure-group input[type=week],
  .pure-group input[type=number],
  .pure-group input[type=search],
  .pure-group input[type=tel],
  .pure-group input[type=color] {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type=color] {
  padding: 0.2em 0.5em;
}

.pure-form input[type=text]:focus,
.pure-form input[type=password]:focus,
.pure-form input[type=email]:focus,
.pure-form input[type=url]:focus,
.pure-form input[type=date]:focus,
.pure-form input[type=month]:focus,
.pure-form input[type=time]:focus,
.pure-form input[type=datetime]:focus,
.pure-form input[type=datetime-local]:focus,
.pure-form input[type=week]:focus,
.pure-form input[type=number]:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=tel]:focus,
.pure-form input[type=color]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=file]:focus,
.pure-form input[type=radio]:focus,
.pure-form input[type=checkbox]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input[type=text][disabled],
.pure-form input[type=password][disabled],
.pure-form input[type=email][disabled],
.pure-form input[type=url][disabled],
.pure-form input[type=date][disabled],
.pure-form input[type=month][disabled],
.pure-form input[type=time][disabled],
.pure-form input[type=datetime][disabled],
.pure-form input[type=datetime-local][disabled],
.pure-form input[type=week][disabled],
.pure-form input[type=number][disabled],
.pure-form input[type=search][disabled],
.pure-form input[type=tel][disabled],
.pure-form input[type=color][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=file]:focus:invalid:focus,
.pure-form input[type=radio]:focus:invalid:focus,
.pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=week],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=color],
.pure-form-stacked input[type=file],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  display: inline;
  zoom: 1;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: 0.35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0.7em 0 0;
  }
  .pure-form input:not([type]),
  .pure-form input[type=text],
  .pure-form input[type=password],
  .pure-form input[type=email],
  .pure-form input[type=url],
  .pure-form input[type=date],
  .pure-form input[type=month],
  .pure-form input[type=time],
  .pure-form input[type=datetime],
  .pure-form input[type=datetime-local],
  .pure-form input[type=week],
  .pure-form input[type=number],
  .pure-form input[type=search],
  .pure-form input[type=tel],
  .pure-form input[type=color],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .pure-group input:not([type]),
  .pure-group input[type=text],
  .pure-group input[type=password],
  .pure-group input[type=email],
  .pure-group input[type=url],
  .pure-group input[type=date],
  .pure-group input[type=month],
  .pure-group input[type=time],
  .pure-group input[type=datetime],
  .pure-group input[type=datetime-local],
  .pure-group input[type=week],
  .pure-group input[type=number],
  .pure-group input[type=search],
  .pure-group input[type=tel],
  .pure-group input[type=color] {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*csslint outline-none:false*/
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8); /* rgba supported */
  border: 1px solid #999; /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000",GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.pure-button-hidden {
  display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.loginmenu {
  width: 100%;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 42px;
}
.loginmenu a {
  font-size: 14px;
  padding: 0 8px;
  text-decoration: none;
  color: #fff;
}
.loginmenu a:first-child::after {
  content: "|";
  margin-left: 16px;
  color: #fff;
}
.loginmenu a:hover {
  color: #f56c23;
}

header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px 42px;
}
header .menu {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu a.logo {
  display: block;
  align-self: flex-start;
  width: 120px;
  height: 54px;
  background-size: contain;
  background-image: url(/img/logo_w@svg.svg);
  background-position: center;
  background-repeat: no-repeat;
}
header .menu a.logo h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
header .nav {
  list-style: none;
  display: flex;
  transition: all 1s;
}
header .nav a {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  position: relative;
  display: block;
  padding: 18px 15px;
  letter-spacing: 2px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: rgb(255, 255, 255);
}
header .nav a:hover, header .nav a:focus, header .nav a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header .nav a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #f56c23;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
header .nav a:active::before {
  background-color: #000;
}
header .nav a:hover::before, header .nav a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
header .hamburger {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 52px;
  height: 52px;
}
header .hamburger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 22px;
  height: 3px;
  background: #fff;
}
header .hamburger span:nth-child(1) {
  top: 19px;
  left: clac(30px)/2;
}
header .hamburger span:nth-child(2) {
  top: 26px;
  left: clac(30px)/2;
}
header .hamburger span:nth-child(3) {
  top: 33px;
  left: clac(30px)/2;
}
header .hamburger::after {
  z-index: 999;
  content: "MENU";
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  scale: 0.8;
}
header .hamburger.active::after {
  color: rgba(255, 255, 255, 0);
}
header .active span:nth-child(1) {
  transform: translateY(7px) rotate(-315deg);
}
header .active span:nth-child(2) {
  opacity: 0;
}
header .active span:nth-child(3) {
  transform: translateY(-7px) rotate(315deg);
}
header .active span {
  background-color: #fff;
}
@media (max-width: 480px) {
  header {
    background-color: #000;
    padding: 0px 22px;
  }
  header .menu {
    flex-direction: column;
  }
  header .menu .nav {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  header .menu .m-open {
    max-height: 200px;
    transition: top 0.5s;
    transition: max-height 1s ease;
  }
  header .menu .m-open li {
    width: 100%;
  }
  header .menu .m-open li a::before {
    background-color: rgba(255, 255, 255, 0);
  }
  header .hamburger {
    display: block;
    right: 5px;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0200;
  background-image: url(/img/header_desktop.png);
  background-position: center;
  max-width: 100%;
  min-height: 420px;
  background-repeat: no-repeat;
}
.banner .banner__text {
  display: block;
  background-color: rgba(0, 0, 0, 0.35);
  max-width: 460px;
  color: #fff;
  text-align: center;
  padding: 20px 22px;
}
.banner .banner__text p {
  font-size: 16px;
  line-height: normal;
}
.banner .banner__text p:first-child {
  font-size: 36px;
  margin-bottom: 12px;
}
.banner .banner__text p br {
  display: none;
}
@media (max-width: 480px) {
  .banner .banner__text p br {
    display: block;
  }
}
@media (max-width: 375px) {
  .banner .banner__text p:first-child {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner {
    background-image: url(/img/header_mobile.png);
  }
}

footer {
  width: 100%;
  background-color: #efe9e7;
  display: flex;
  justify-content: space-between;
  color: #3d1101;
  padding: 50px 43px;
}
footer .footer__text {
  display: flex;
  width: 100%;
  line-height: normal;
}
footer .footer__text li {
  max-width: 299px;
  margin-right: 20px;
}
footer .footer__text li p:first-child {
  font-size: 1.8rem;
  margin-bottom: 8px;
}
footer .footer__text li ol li::before {
  content: "•";
  margin-right: 3px;
}
footer .footer__text .footer__text--hide {
  margin-bottom: 15px;
}
footer .footer__logo {
  font-size: 36px;
}
footer .footer__logo a {
  text-decoration: none;
}
footer .footer__logo p {
  margin-top: 22px;
}
@media (max-width: 725px) {
  footer .footer__text {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  footer {
    flex-direction: column;
  }
  footer .footer__text .footer__text--hide {
    display: none;
  }
  footer .footer__logo {
    margin-top: 30px;
  }
}

.wrap {
  background-color: #efe9e7;
  padding: 50px 0px;
  /*feature start*/
  /*chef start*/
  /*map start*/
}
.wrap .feature__title h2 {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #3d1101;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
.wrap .feature__title h2::after {
  margin-left: 1%;
  content: "";
  height: 0.5px;
  width: 8%;
  background-color: #474747;
}
.wrap .feature__title h2::before {
  margin-right: 5px;
  left: 0px;
  content: "";
  height: 0.5px;
  width: 8%;
  background-color: #474747;
}
.wrap .feature__title ul {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
.wrap .feature__title ul li {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  width: 30%;
}
.wrap .feature__title ul li img {
  margin-bottom: 20px;
}
.wrap .feature__title ul li h3 {
  text-align: center;
  font-size: 18px;
  color: #3d1101;
  margin-bottom: 11px;
}
.wrap .feature__title ul li p {
  font-size: 16px;
  line-height: normal;
  color: #3d1101;
}
@media (max-width: 735px) {
  .wrap .feature__title ul {
    flex-direction: column;
    align-items: center;
  }
  .wrap .feature__title ul li {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-top: 30px;
  }
}
.wrap .chef {
  margin-top: 50px;
  background-color: #3d1101;
  color: #efe9e7;
  padding: 0px 0px 0px 5%;
  display: flex;
  justify-content: left;
  width: 100%;
}
.wrap .chef .chef__img {
  display: block;
  background-image: url(/img/main_chef_brown.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.wrap .chef .chef__text {
  max-width: 410px;
  padding: 80px 25px;
}
.wrap .chef .chef__text .chef__title {
  font-size: 20px;
}
.wrap .chef .chef__text .chef__title br {
  display: none;
}
.wrap .chef .chef__text p {
  line-height: normal;
}
.wrap .chef .chef__text p:nth-child(2) {
  margin-bottom: 20px;
}
@media (max-width: 720px) {
  .wrap .chef {
    padding: 0;
    display: block;
    width: 100%;
  }
  .wrap .chef .chef__img {
    display: block;
    width: 100%;
    height: 460px;
  }
  .wrap .chef .chef__text {
    max-width: 100%;
    padding: 30px;
    display: inline-block;
  }
  .wrap .chef .chef__text .chef__title {
    font-size: 20px;
  }
  .wrap .chef .chef__text .chef__title br {
    display: block;
  }
}
.wrap .guests {
  padding: 50px 42px;
  color: #3d1101;
}
.wrap .guests h2 {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #3d1101;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  margin-bottom: 32px;
}
.wrap .guests ul {
  line-height: normal;
  display: flex;
}
.wrap .guests ul li {
  display: flex;
  margin: 0px 10px;
}
.wrap .guests ul li img {
  display: block;
  height: 67px;
  margin-right: 13px;
}
.wrap .guests ul li .guests__text {
  color: #3d1101;
  font-size: 16px;
}
.wrap .guests ul li .guests__text .guests__name {
  font-size: 18px;
  margin: 19px 0px;
}
.wrap .guests ul li .guests__text .guests__job {
  margin-top: 16px;
  text-align: right;
  opacity: 0.75;
}
@media (max-width: 755px) {
  .wrap .guests ul {
    flex-direction: column;
    align-items: center;
  }
  .wrap .guests ul li {
    max-width: 450px;
  }
}
@media (max-width: 375px) {
  .wrap .guests {
    padding: 50px 2%;
  }
}
.wrap .map {
  padding: 50px 42px;
  background-color: #fafafa;
}
.wrap .map h2 {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #3d1101;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  margin-bottom: 38px;
}
.wrap .map .map__content {
  display: flex;
  justify-content: center;
}
.wrap .map .map__content .map__img {
  align-self: center;
  margin-right: 20px;
  width: 50%;
  height: 355px;
  display: block;
  background-image: url(/img/Map.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.wrap .map .map__content form {
  max-width: 460px;
  font-size: 14px;
  color: #3d1101;
  width: 50%;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.wrap .map .map__content form input {
  margin-bottom: 12px;
}
.wrap .map .map__content form label {
  margin-bottom: 6px;
}
.wrap .map .map__content form .vegetarian {
  display: flex;
  align-items: center;
}
.wrap .map .map__content form .vegetarian div {
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrap .map .map__content form .vegetarian div input {
  margin: 0 36px 0 6px;
  display: inline-block;
}
.wrap .map .map__content form .vegetarian div label {
  margin-top: 0;
}
.wrap .map .map__content form .form__button {
  align-self: flex-end;
  margin-top: 30px;
}
.wrap .map .map__content form .form__button button {
  margin-left: 5.5px;
}
.wrap .map .map__content form .form__button .pure-button {
  padding: 0.4em 1.3em;
}
.wrap .map .map__content form .form__button .button-success {
  border-radius: 3px;
  background-color: #f56c23;
}
.wrap .map .map__content form .form__button .button-error {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.35);
}
@media (max-width: 747px) {
  .wrap .map .map__content .map__img {
    background-position: left;
  }
}
@media (max-width: 560px) {
  .wrap .map {
    padding: 50px 2%;
  }
  .wrap .map .map__content {
    flex-direction: column;
  }
  .wrap .map .map__content .map__img {
    height: 200px;
    background-position: center !important;
    width: 100% !important;
    margin-right: 0px !important;
  }
  .wrap .map .map__content form {
    width: 100% !important;
  }
}

.wrap__product {
  padding: 50px 44px;
  background-color: #efe9e7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.wrap__product .subnav {
  width: 30%;
}
.wrap__product .subnav h3 {
  white-space: nowrap;
  font-size: 20px;
  color: #3d1101;
  margin-bottom: 16px;
}
.wrap__product .subnav h3 i {
  font-size: 26px;
  margin-right: 1%;
}
.wrap__product .subnav ul li {
  border-bottom: 1px solid #3d1101;
}
.wrap__product .subnav ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #3d1101;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}
.wrap__product .subnav ul li a:hover {
  background-color: #3d1101;
  color: #fff;
}
.wrap__product .content {
  width: 60%;
  margin-left: 20px;
}
.wrap__product .content .navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.wrap__product .content .navbar .search {
  width: 100%;
  position: relative;
  display: flex;
}
.wrap__product .content .navbar .search .searchTerm {
  width: 100%;
  border: 2px solid #3d1101;
  border-right: none;
  padding: 5px;
  height: 32px;
  outline: none;
  background-color: #efe9e7;
}
.wrap__product .content .navbar .search .searchButton {
  width: 32px;
  height: 32px;
  border: 1px solid #3d1101;
  background-color: #3d1101;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
}
.wrap__product .content .navbar .checkout {
  text-decoration: none;
  margin-left: 5%;
  display: flex;
  align-items: center;
  min-width: 110px;
  white-space: nowrap;
}
.wrap__product .content .navbar .checkout::before {
  content: "結帳去　|";
  margin-right: 13px;
  color: #3d1101;
  font-size: 16px;
}
.wrap__product .content .navbar .checkout i {
  font-size: 29px;
  position: relative;
}
.wrap__product .content .navbar .checkout i .number {
  position: absolute;
  right: -5px;
  top: -5px;
  color: #fff;
  background-color: #f56c23;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #fff 0.3px solid;
}
.wrap__product .content .navbar .checkout i .number p {
  font-size: 8px;
  scale: 0.6;
}
.wrap__product .content .product__card ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.wrap__product .content .product__card ul li {
  position: relative;
  width: 32%;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
.wrap__product .content .product__card ul li a {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.wrap__product .content .product__card ul li a i {
  font-size: 20px;
}
.wrap__product .content .product__card ul li img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap__product .content .product__card ul li .text__content {
  padding: 10px;
}
.wrap__product .content .product__card ul li .text__content span {
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #3d1101;
  width: 50%;
  vertical-align: middle;
  background-color: #3d1101;
  margin-top: 8px;
}
.wrap__product .content .product__card ul li .text__content p {
  color: #3d1101;
  line-height: normal;
}
.wrap__product .content .product__card ul li .text__content .text__title {
  font-size: 20px;
  margin-top: 11px;
}
.wrap__product .content .product__card ul li .text__content .text__subtitle {
  font-size: 12px;
}
.wrap__product .content .product__card ul li .text__content .text__price {
  margin-top: 20px;
  margin-bottom: 13px;
  font-weight: bold;
}
.wrap__product .content .product__card ul li .text__content button {
  background-color: #efe9e7;
  font-size: 16px;
  width: 100%;
  color: #f56c23;
  border: 2px solid #f56c23;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}
.wrap__product .content .product__card ul li .text__content button i {
  margin-right: 8px;
  color: #f56c23;
  transition: all 0.1s ease-in-out;
}
.wrap__product .content .product__card ul li .text__content button:hover {
  background-color: #f56c23;
  color: #fff;
}
.wrap__product .content .product__card ul li .text__content button:hover i {
  color: #fff;
}
.wrap__product .content .product__card ul li .ribbon-wrap {
  width: 106px;
  height: 108px;
  overflow: hidden;
  /* 當超過width和height的大小就隱藏 */
  position: absolute;
  top: -5px;
  right: -6px;
}
.wrap__product .content .product__card ul li .ribbon-wrap .ribbon {
  position: relative;
  left: -11px;
  top: 26px;
  width: 148px;
  background-color: #00cc99;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  transform: rotate(45deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.wrap__product .content .product__card ul li .ribbon-wrap .ribbon:before {
  content: "";
  border-top: 4px solid #078f6d;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 26px;
  left: 5px;
}
.wrap__product .content .product__card ul li .ribbon-wrap .ribbon:after {
  content: "";
  border-top: 4px solid #078f6d;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px;
  right: 0;
}
@media (max-width: 1000px) {
  .wrap__product .content .product__card ul li {
    width: 48%;
  }
}
@media (max-width: 700px) {
  .wrap__product .content .product__card ul li {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .wrap__product {
    display: block;
  }
  .wrap__product .subnav {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrap__product .content {
    width: 100%;
    margin: 0;
  }
  .wrap__product .content .navbar {
    flex-direction: column;
  }
  .wrap__product .content .navbar .checkout {
    margin-top: 10px;
    align-self: flex-end;
  }
  .wrap__product .content ul li a {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .wrap__product .content ul li a i {
    font-size: 20px;
  }
}
.register {
  padding: 50px;
  text-align: center;
  background-color: #efe9e7;
}
.register .register__subtitle {
  font-size: 22px;
  color: #3d1101;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 35px;
}
.register .register__content {
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 4px solid #f56c23;
  margin: 0 auto;
  max-width: 620px;
  padding: 15px;
}
.register .register__content h4 {
  font-size: 18px;
  font-weight: 1000;
  margin-bottom: 16px;
  color: #3d1101;
}
.register .register__content .register__text {
  color: #3d1101;
  display: flex;
  flex-direction: row;
}
.register .register__content .register__text p {
  text-align: start;
  line-height: normal;
  width: 50%;
  margin-right: 20px;
}
.register .register__content .register__text form {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #3d1101;
  width: 50%;
}
.register .register__content .register__text form .email__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.register .register__content .register__text form .password {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register .register__content .register__text form .password .password__input {
  margin-bottom: 12px;
}
.register .register__content .register__text form .password a {
  text-decoration: none;
  color: #f56c23;
  font-size: 14px;
  margin-bottom: 36px;
  line-height: normal;
}
.register .register__content .register__text form .password a:hover {
  text-decoration: underline;
}
.register .register__content .register__text form button {
  align-self: flex-end;
  background: #f56c23;
  font-size: 14px;
  padding: 6px 48px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .register .register__content .register__text {
    flex-direction: column;
    padding: 1%;
  }
  .register .register__content .register__text p {
    width: 100%;
    margin-bottom: 15px;
  }
  .register .register__content .register__text form {
    width: 100%;
  }
  .register .register__content .register__text form .email__address {
    max-width: 285px;
  }
  .register .register__content .register__text form .password {
    max-width: 285px;
  }
}
@media (max-width: 480px) {
  .register {
    padding: 50px 3%;
  }
}

.login {
  padding: 50px;
  text-align: center;
  background-color: #efe9e7;
}
.login .login__subtitle {
  font-size: 22px;
  color: #3d1101;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 35px;
}
.login .login__content {
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 4px solid #f56c23;
  margin: 0 auto;
  max-width: 300px;
  padding: 15px;
}
.login .login__content h4 {
  font-size: 18px;
  font-weight: 1000;
  margin-bottom: 16px;
  color: #3d1101;
}
.login .login__content form .email__address {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.login .login__content form .email__address input {
  width: 100%;
}
.login .login__content form .password {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.login .login__content form .password input {
  width: 100%;
}
.login .login__content form a {
  text-decoration: none;
  color: #f56c23;
  font-size: 14px;
  margin-bottom: 36px;
  line-height: normal;
}
.login .login__content form a:hover {
  text-decoration: underline;
}
.login .login__content form button {
  align-self: flex-end;
  background: #f56c23;
  font-size: 14px;
  padding: 6px 48px;
  border-radius: 3px;
}
.login .login__content form .button-error {
  background-color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 480px) {
  .login {
    padding: 50px 3%;
  }
}/*# sourceMappingURL=all.css.map */