/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}
/*layout*/
.nav {
  display: flex;
  width: 100%;
  background-color: #4a4a4a81;
  justify-content: space-between;
  padding: 0px 42px;
  flex-wrap: wrap;
}
.logo {
  margin: auto 0;
}
h1 {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/03_Project_20230624/images/Hex-Logo.png?raw=true);
  width: 170px;
  height: 36px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.nav ul {
  display: flex;
}

.nav li a {
  display: block;
  padding: 30px 25px;
  color: white;
  text-decoration: none;
  font-size: 16pt;
  border-bottom: 7px solid #00cc9900;
}
.nav li a:hover {
  color: #00cc99;
  border-bottom: 7px solid #00cc99;
}
/*banner*/
.banner {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/03_Project_20230624/images/banner-01.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}
/*footer*/
footer {
  background-color: #323228;
  display: flex;
  justify-content: space-between;
  padding: 36px 42px;
}
.bottom__logo {
  color: #9b9b9b;
  text-align: end;
}
.bottom__logo p {
  margin-top: 8px;
}
footer .link {
  display: flex;
  align-items: center;
}
footer .link a {
  margin-left: 22px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.link .icon__FB {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/03_Project_20230624/images/FB-icon.png?raw=true);
}
.link .icon__twitter {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/03_Project_20230624/images/Twitter-icon.png?raw=true);
}
.link .icon__Instagram {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/03_Project_20230624/images/IG-icon.png?raw=true);
}
