//Boostrap Color
$primary: #934ba1;
$secondary: #71ddff;
//$success: #00ff89;

//Boostrap 隱藏開啟
//margin可以用負值
$enable-negative-margins: ture;

//card-border粗細
$card-border-width: 5px;

//position 增加auto
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  auto: auto,
);

//警告顏色修改
$form-feedback-valid-color: #00ff89;
$form-feedback-invalid-color: #f68d2e;
