@use "../layout/grid" as *;
.footer-nav__bgcolor {
  background: #7fb22d;
  position: relative;
}
footer {
  position: relative;
}
.footer__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 40px;
  left: 50%;
  background: #f4f4f4;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.nav__active {
  display: block;
}
@include grid-sm {
  .nav__active {
    display: none;
  }
}

//資訊
.footer__icon {
  color: #7fb22d;
  font-size: 24px;
}
.footer__btn {
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.footer__text {
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    li {
      display: block;
    }
  }
}
@include grid-md {
  .footer__text {
    flex-direction: column;
    align-items: center;
  }
}
