.nav__shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.banner {
  background-image: url(.././img/banner.png);
  padding-top: 12%;
  padding-bottom: 12%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  p {
    span {
      &:first-child {
        font-size: 3rem;
      }
    }
    line-height: 35px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 720px) {
    span {
      &:first-child {
        font-size: 2rem !important;
      }
    }
    .hide-text {
      display: none;
    }
  }
}
@media (max-width: 720px) {
  .banner {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
