@use "../layout/grid" as *;
$logo-img: url("../../img/logo.png");
$logo-width: 265px;
.hide__logo {
  width: $logo-width;
  background-image: $logo-img;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  text-indent: 101%; /*首行縮排到超過100%*/
  overflow: hidden; /*超過div的範圍就隱藏*/
  white-space: nowrap; /*不斷行*/
}
@include grid-sm {
  .hide__logo {
    width: $logo-width - 138px;
    background-position: left;
  }
}

//主要內容的圖片
.main__img-item01 {
  div {
    &:first-child {
      img {
        width: 100%;
        height: 23rem;
        border-radius: 2rem 0rem 0rem 0rem;
      }
      @include grid-lg {
        img {
          border-radius: 2rem 2rem 0rem 0rem;
        }
      }
    }
    &:nth-child(2) {
      img {
        width: 100%;
        height: 13rem;
        border-radius: 0rem 0rem 2rem 2rem;
      }
    }
  }
}
@include grid-lg {
  .main__img-item01.hide {
    display: none;
  }
  .main__img-item01.show {
    display: block !important;
  }
}

.main__img-item02 {
  .row {
    div {
      &:first-child {
        img {
          width: 100%;
          height: 14rem;
          border-radius: 2rem 0rem 0rem 0rem;
        }
      }
      &:nth-child(2) {
        img {
          width: 100%;
          height: 14rem;
          border-radius: 0rem 2rem 0rem 0rem;
        }
      }
    }
  }
  div {
    &:nth-child(2) {
      img {
        width: 100%;
        height: 26rem;
        border-radius: 0rem 0rem 0rem 2rem;
      }
      @include grid-lg {
        img {
          border-radius: 0rem 0rem 2rem 2rem;
        }
      }
    }
  }
}
@include grid-lg {
  .main__img-item02.hide {
    display: none;
  }
  .main__img-item02.show {
    display: block !important;
  }
}
