@use "../utils/" as *;
.header__deco-box {
  width: 240px;
  height: 240px;
  background-color: var(--bs-secondary);
}
.header__img {
  background-image: url(https://images.unsplash.com/photo-1612282130134-49784d98ac61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1218&q=80);
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 30px;
  background-position: center center;
  background-size: cover;
  // @include bg-attachment;
}
