/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* restart css */
body {
  background-color: #b9b9b9;
}
.wrap {
  max-width: 1024px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/02_Project_20230616/img/img-headerShape.png?raw=true;);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 124px;
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}
.personal__photo {
  text-align: center;
}
.personal__photo h1 {
  font-size: 42px;
  padding: 12px 0px;
}
.personal__photo p {
  color: #4a4a4a;
  font-size: 14px;
  padding: 4px 0px;
}
.personal__text {
  line-height: 36px;
  margin-left: 15%;
}
.personal__text li {
  margin-bottom: 12px;
}
.personal__text a {
  color: #fafafa;
  font-size: 18px;
  text-decoration: none;
}
.personal__text img {
  vertical-align: middle;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .personal__text {
    margin-left: 5%;
  }
}

@media (max-width: 480px) {
  header {
    display: block;
    justify-content: center;
    padding-top: 45px;
  }
  .personal__text {
    line-height: 36px;
    width: 80%;
    margin: 25px auto;
    padding: 3% 5%;
    border-radius: 15px;
    border: 3px #7f7bf2 solid;
    background-color: #fff;
  }
  .personal__text a {
    color: #4a4a4a;
    font-size: 14px;
    text-decoration: none;
  }
  .personal__text img {
    position: relative;
  }
  .icon__purple-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #7f7bf2;
  }
}

/*Skills*/
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 70px;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #1736dc;
  line-height: 36px;
  margin: 56px 0px 36px 0px;
}

.skills__card {
  box-shadow: 0px 0px 12px #00000013;

  width: 27.609%;
  margin: 0 0.8%;
  border-radius: 5px;
  text-align: center;
  padding: 3%;
  margin-bottom: 35px;
}
.skills__card p {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 24px;
  margin: 20px 0px;
}
.skills__card li {
  font-size: 10px;
  color: #4a4a4a;
  text-align: start;
  line-height: normal;
}
.skills__card li::before {
  content: "•";
  margin-right: 8%;
  font-size: 10px;
  color: #4a4a4a;
}
.skills div:nth-child(2) {
  border-bottom: #f58d23 6px solid;
}
.skills div:nth-child(3) {
  border-bottom: #539e43 6px solid;
}

.skills div:nth-child(4) {
  border-bottom: #6762a6 6px solid;
}
@media (max-width: 860px) {
  .skills__card {
    width: 40%;
  }
}
@media (max-width: 665px) {
  .skills__card {
    width: 90%;
  }
}

/*Ecperience*/
.experience__main {
  margin-bottom: 55px;
}

.experience__main ul {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 10%;
}
.experience__main ul::before {
  content: "";
  width: 1px;
  background-color: #4a4a4a;
  top: 0;
  bottom: 0;
  position: absolute;

  left: 50%;
}
.experience__main img {
  display: block;

  margin: 0 auto;
}
.experience__item {
  width: 40%;
  background-color: #fff;
  border: 1px solid #fb56bf;
  border-radius: 10px;
  padding: 8px;
}
.experience__item p {
  margin-bottom: 4px;
}
.experience li {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;

  position: relative;
}
.experience li::before {
  background-image: url(https://github.com/shuhuiyun/Webwork/blob/main/02_Project_20230616/img/dot-timeItem.png?raw=true);
  content: "";
  transform: translate(-50%, -0%);
  width: 24px;
  height: 28px;

  position: absolute;

  left: 50%;
  top: 0px;
}
.left {
  align-self: flex-start;
}
.line {
  width: 48px;
  height: 1px;
  background-color: #4a4a4a;
  margin: 0 auto;
}
@media (max-width: 690px) {
  .left {
    align-self: flex-end;
  }
  .line {
    margin: 0;
  }
  .experience__main ul::before {
    left: 24px;
  }

  .experience li::before {
    left: 0;
    transform: translate(50%, -0%);
  }
  .experience__main ul {
    padding: 25px 0;
  }
  .experience__main {
    padding: 0 15% 10% 15%;
  }
  .experience__main li {
    margin-bottom: 15px;
  }
  .experience__item {
    width: 80%;
  }
  .experience__main img {
    display: block;
    margin-left: 8px;
  }
}
